extends layout

block content
  h1= title

  p We have a list of groups
  a(href="/groups/new") Create a new group

  ul
    -for group in groups
      li
        a(href="/groups/#{group._id}") Grupp: #{group.name}&rarr;
        a(href="/groups/#{group._id}/delete") Remove