doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #wrapper
      #header
        h1#title Emeriti
        ul#nav
          li
            a(href="/users") Start
          li
            a(href="/users/new") New
      #body
        block content
