extends layout

block content
  h1= title
  p= message
  p We have a list of users
  a(href="/users/new") Create a new user

  ul
    -for user in users
      li
        a(href="/users/#{user._id}")= user.email
        a(href="/users/#{user._id}/delete") Remove