/* Reset {{{ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
form, fieldset, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
/* }}} */
/*{{{ Layout */

body {
	color: #444;
	background: #8be;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#wrapper {
	margin: 20px auto 40px;
	width: 540px;
}

#header, #header a {
	color: #fff;
	text-decoration: none;
}

#title {
	float: left;
	margin: 0 40px 0 20px;
}

#nav {
	float: left;
	margin: 14px 0 0 0;
	list-style-type: none;
}
#nav li { display: inline; }
#nav a {
	display: block;
	float: left;
	margin-right: 4px;
	padding: 5px 15px;
	background: #acf;
}

#body {
	clear: both;
	padding: 20px;
	background: #fff;
}

#body > *:first-child { margin-top: 0; }

/*}}}*/
/*{{{ Typography */

h1, h2, h3, h4 { margin: 1em 0 0; }
h1 { font-size: 2.5em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.0em; margin-top: 0.5em; }

p, ul, ol, dl { margin: 1em 0 1em; }

a {
  color: #0bf;
	text-decoration: none;
}
a:hover { text-decoration: underline; }

/*}}}*/
/*{{{ Tables */

table {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 10px 0;
	table-collapse: collape;
	width: 100%;
}

td, th {
	padding: 2px 10px 2px 0;
	text-align: left;
}
td.num, th.num, td.right, th.right, td.actions, th.actions {
	padding-right: 0;
	padding-left: 10px;
	text-align: right;
}

/*}}}*/
/*{{{ Responsive */

@media screen and (max-width: 540px) {
	#wrapper {
		width: inherit;
	}
}

/*}}}*/
